Options +FollowSymLinks
RewriteEngine On

RewriteRule ^cause-detail-(.*)$ cause-single.php?&id=$1 [L,NC]
RewriteRule ^product-detail-(.*)$ product-single.php?&id=$1 [L,NC]
RewriteRule ^event-detail-(.*)$ event-single.php?&id=$1 [L,NC]
RewriteRule ^about.* about.php [NC]
RewriteRule ^home.* index.php [NC]
RewriteRule ^contact.* contact.php [NC]
RewriteRule ^portfolio.* portfolio.php [NC]
RewriteRule ^videos.* video.php [NC]
RewriteRule ^events.* events.php [NC]
RewriteRule ^causes.* causes.php [NC]
RewriteRule ^services.* services.php [NC]


php_value upload_max_filesize 200M
php_value post_max_size 200M

